<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587569678804-i5dot7a3rn6ulsfm1vlnm704832rfd7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587569678804-i5dot7a3rn6ulsfm1vlnm704832rfd7s</string>
	<key>API_KEY</key>
	<string>AIzaSyCDMXPc798PXd2Q7V0zC3NfcG-95BXR3vY</string>
	<key>GCM_SENDER_ID</key>
	<string>587569678804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friend-app-with-wearable.ios12</string>
	<key>PROJECT_ID</key>
	<string>aisa-5c0bd</string>
	<key>STORAGE_BUCKET</key>
	<string>aisa-5c0bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587569678804:ios:2aa2aff62c2dd2baccee41</string>
</dict>
</plist>